%form{action: '/new_user', method: 'POST'}
  .row
    .large-12.columns
      %label{for: 'username'} Username
  .row
    .large-12.columns
      %input{type: 'text', name: 'username'}
  .row
    .large-12.columns
      %input{type: 'submit'}
